html, body, div,
dl, dt, dd, ol, ul, li,
h1, h2, h3, h4, h5, h6, p, hr,
img, a, em, span, strong, 
form, label, input, button, select,
table, thead, tbody, tfoot, tr, th, td, textarea, blockquote{
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	background: none;
	vertical-align: baseline;
	font: inherit;
}
input, textarea{
	box-sizing:border-box;
}
body {
	font-size: 12px;
	line-height: 1;
	color: #000;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
strong{
	font-weight:bold;
}
*{
	box-sizing: border-box;
}